{
    "prefix": "s!",
    "token": "YOUR_BOT_TOKEN_HERE",
    "clientID": "YOUR_BOT'S_CLIENT_ID_HERE",
    "clientSecret": "YOUR_BOT'S_CLIENT_SECRET_HERE",
    "sessionSecret": "RANDOM_STRING_HERE"
}
