const { SlashCommandBuilder } = require("@discordjs/builders");

module.exports = {
  data: new SlashCommandBuilder()
    .setName("cmd_name")
    .setDescription("cmd desc"),
  async execute(interaction, client, config, db, Discord, allowed) {
    let msg = interaction

  },
};