include includes/head.pug
header 
    include includes/navbar.pug
body 
    .jumbotron.text-center.bg-light
        h1.display-3 Simp Bot
        p.lead A bot that is a simp
        button.btn.btn-dark Invite